.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;

    @media screen and (min-width: 320px) {
        min-width: 320px;
    }

    @media screen and (min-width: 768px) {
        max-width: 768px;
        padding-right: 32px;
        padding-left: 32px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1280px;
    }
}

// Обертка содержимого внутри body
// Добавлено чтоб прижать footer к низу страницы
.page{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}