.table-list {
    display: flex;
    flex-wrap: wrap;
    
    @media screen and (max-width: 767px) {
        max-width: 320px;
    }
    
}

.table-item {
    
    @media screen and (max-width: 767px) {
        max-width: 280px;
        margin: 0 auto calc($dst-between / 2) auto;
        // flex-basis: calc(100% / 1 - $dst-between);
    }

    @media screen and (min-width: 768px) {
        margin: calc($dst-between / 2);
        flex-basis: calc(100% / 2 - $dst-between);
    }

    @media screen and (min-width: 1280px) {
        margin: calc($dst-between / 2);
        flex-basis: calc(100% / 3 - $dst-between);
    }
}

.table-item:last-child {
    @media screen and (max-width: 768px) {
        margin-bottom: 0;
    }
}