@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
.dark-color {
  --bg-image-320: url(/src/images/header-main/header-green-2-320.jpg);
  --bg-image-320-2x: url(/src/images/header-main/header-green-2-320@2x.jpg);
  --bg-image-320-2x-webp: url(/src/images/header-main/header-green-2-320@2x.webp);
  --bg-image-768: url(/src/images/header-main/header-green-2-768@2x.jpg);
  --bg-image-768-2x: url(/src/images/header-main/header-green-2-768@2x.jpg);
  --bg-image-768-2x-webp: url(/src/images/header-main/header-green-2-768@2x.webp);
  --bg-image-1280: url(/src/images/header-main/header-green-2-1280@2x.jpg);
  --bg-image-1280-2x: url(/src/images/header-main/header-green-2-1280@2x.jpg);
  --bg-image-1280-2x-webp: url(/src/images/header-main/header-green-2-1280@2x.webp);
  --bg-image-lib-320: url(/src/images/header-library/header-library-green-320.jpg);
  --bg-image-lib-320-2x: url(/src/images/header-library/header-library-green-320@2x.jpg);
  --bg-image-lib-320-2x-webp: url(/src/images/header-library/header-library-green-320@2x.webp);
  --bg-image-lib-768: url(/src/images/header-library/header-library-green-768.jpg);
  --bg-image-lib-768-2x: url(/src/images/header-library/header-library-green-768@2x.jpg);
  --bg-image-lib-768-2x-webp: url(/src/images/header-library/header-library-green-768@2x.webp);
  --bg-image-lib-1280: url(/src/images/header-library/header-library-green-1280.jpg);
  --bg-image-lib-1280-2x: url(/src/images/header-library/header-library-green-1280@2x.jpg);
  --bg-image-lib-1280-2x-webp: url(/src/images/header-library/header-library-green-1280@2x.webp);
  --body-color: #313131;
  --mainRedColor: #1d7702;
  --mainBlackColor: #d9d9d9;
  --mainWhiteColor: #363636;
  --secTextColor: #646464;
  --footerTextColor: #171717;
  --mainWhiteColorFooter: rgb(194, 194, 194);
  --filterColor: #1d7702;
  --filterText: #2f9b29;
  --cardText: #2f9b29;
  --thirdColor: #444444;
  --cardTextOpac: rgba(26, 174, 0, 0.5);
  --bgColorHeader: rgba(0, 0, 0, 0.936);
  --notValid:#ff0019;
  --boxShadowHeader1: rgba(14, 112, 2, 0.25);
  --boxShadowHeader2: rgba(14, 112, 2, 0.12);
  --boxShadowHeader3: rgba(14, 112, 2, 0.17);
  --boxShadowHeader4: rgba(14, 112, 2, 0.09);
  --InputHeaderBgColor: #067b061a;
  --inputModalBgColor: #101a07;
  --boxShadowModal1: rgba(26, 174, 0, 0.603);
  --boxShadowModal2: rgb(26, 174, 0);
}

.light-color {
  --bg-image-320: url(/src/images/header-main/header-320.jpg);
  --bg-image-320-2x: url(/src/images/header-main/header-320@2x.jpg);
  --bg-image-320-2x-webp: url(/src/images/header-main/header-320@2x.webp);
  --bg-image-768: url(/src/images/header-main/header-768@2x.jpg);
  --bg-image-768-2x: url(/src/images/header-main/header-768@2x.jpg);
  --bg-image-768-2x-webp: url(/src/images/header-main/header-768@2x.webp);
  --bg-image-1280: url(/src/images/header-main/header-1280@2x.jpg);
  --bg-image-1280-2x: url(/src/images/header-main/header-1280@2x.jpg);
  --bg-image-1280-2x-webp: url(/src/images/header-main/header-1280@2x.webp);
  --bg-image-lib-320: url(/src/images/header-library/header-library-320.jpg);
  --bg-image-lib-320-2x: url(/src/images/header-library/header-library-320@2x.jpg);
  --bg-image-lib-320-2x-webp: url(/src/images/header-library/header-library-320@2x.webp);
  --bg-image-lib-768: url(/src/images/header-library/header-library-768.jpg);
  --bg-image-lib-768-2x: url(/src/images/header-library/header-library-768@2x.jpg);
  --bg-image-lib-768-2x-webp: url(/src/images/header-library/header-library-768@2x.webp);
  --bg-image-lib-1280: url(/src/images/header-library/header-library-1280.jpg);
  --bg-image-lib-1280-2x: url(/src/images/header-library/header-library-1280@2x.jpg);
  --bg-image-lib-1280-2x-webp: url(/src/images/header-library/header-library-1280@2x.webp);
  --body-color: #ffffff;
  --mainRedColor: #ff0019;
  --mainBlackColor: #000;
  --mainWhiteColor: #fff;
  --secTextColor: #8C8C8C;
  --footerTextColor: #545454;
  --mainWhiteColorFooter: #fff;
  --filterColor: #b32331;
  --filterText: #ff6b01;
  --cardText:#FF6B08;
  --thirdColor: #F7F7F7;
  --cardTextOpac: rgba(255, 107, 8, 0.5);
  --bgColorHeader: rgba(0, 0, 0, 0.56);
  --notValid: #ff0019;
  --boxShadowHeader1: rgba(255, 0, 0, 0.25);
  --boxShadowHeader2: rgba(255, 0, 0, 0.12);
  --boxShadowHeader3: rgba(255, 0, 0, 0.17);
  --boxShadowHeader4: rgba(255, 0, 0, 0.09);
  --InputHeaderBgColor: rgba(255, 0, 0, 0.1);
  --inputModalBgColor: #b32331;
  --boxShadowModal1: rgba(255, 0, 0, 0);
  --boxShadowModal2: rgba(255, 0, 0, 0);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--mainBlackColor);
  background-color: var(--body-color);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (min-width: 320px) {
  .container {
    min-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.table-list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .table-list {
    max-width: 320px;
  }
}

@media screen and (max-width: 767px) {
  .table-item {
    max-width: 280px;
    margin: 0 auto 16px auto;
  }
}
@media screen and (min-width: 768px) {
  .table-item {
    margin: 16px;
    flex-basis: calc(50% - 32px);
  }
}
@media screen and (min-width: 1280px) {
  .table-item {
    margin: 16px;
    flex-basis: calc(33.3333333333% - 32px);
  }
}

@media screen and (max-width: 768px) {
  .table-item:last-child {
    margin-bottom: 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  opacity: 0;
}

body.no-scroll {
  overflow: hidden;
}

.header-bg {
  margin-top: 20px;
  padding: 40px 0 45px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--bgColorHeader);
  background-image: var(--bg-image-320);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header-bg {
    background-image: var(--bg-image-320-2x);
    background-image: var(--bg-image-320-2x-webp);
  }
}
@media screen and (min-width: 768px) {
  .header-bg {
    background-image: var(--bg-image-768);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header-bg {
    background-image: var(--bg-image-768-2x);
    background-image: var(--bg-image-768-2x-webp);
  }
}
@media screen and (min-width: 1280px) {
  .header-bg {
    background-image: var(--bg-image-1280);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header-bg {
    background-image: var(--bg-image-1280-2x);
    background-image: var(--bg-image-1280-2x-webp);
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
  letter-spacing: 1.7;
}
@media screen and (min-width: 768px) {
  .nav {
    margin-bottom: 40px;
  }
}

.logo {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--mainWhiteColorFooter);
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  overflow: hidden;
}
.logo-icon {
  fill: transparent;
  stroke: currentColor;
  -webkit-animation: moveCinema 1.5s infinite;
          animation: moveCinema 1.5s infinite;
}
.logo-name {
  display: none;
}
@media screen and (min-width: 768px) {
  .logo-name {
    display: inline;
  }
}

.cinema {
  display: flex;
  flex-direction: column;
}

@-webkit-keyframes moveCinema {
  from {
    transform: translateY(-40);
  }
  to {
    transform: translateY(40);
  }
}

@keyframes moveCinema {
  from {
    transform: translateY(-40);
  }
  to {
    transform: translateY(40);
  }
}
.logo:hover,
.logo:focus {
  color: var(--mainRedColor);
  box-shadow: var(--boxShadowHeader1) 0px 54px 55px, var(--boxShadowHeader2) 0px -12px 30px, var(--boxShadowHeader2) 0px 4px 6px, var(--boxShadowHeader3) 0px 12px 13px, var(--boxShadowHeader4) 15px -15px 15px;
}

.nav-list {
  position: relative;
  display: flex;
  gap: 39px;
  text-transform: uppercase;
}

.nav-link {
  color: var(--mainWhiteColorFooter);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
}
.nav-link:hover, .nav-link:focus {
  color: var(--mainRedColor);
  box-shadow: var(--boxShadowHeader1) 0px 54px 55px, var(--boxShadowHeader2) 0px -12px 30px, var(--boxShadowHeader2) 0px 4px 6px, var(--boxShadowHeader3) 0px 12px 13px, var(--boxShadowHeader4) 15px -15px 15px;
}

.nav-item--active::after {
  display: block;
  content: "";
  height: 3px;
  background-color: var(--mainRedColor);
}

.nav-item.nav-item--button {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(23px);
}
@media screen and (min-width: 768px) {
  .nav-item.nav-item--button {
    position: relative;
    transform: translateY(0);
  }
}

.login-btn {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  color: var(--mainWhiteColorFooter);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 1.7;
  cursor: pointer;
}
.login-btn:hover, .login-btn:focus {
  color: var(--mainRedColor);
}

.nav-item.nav-item--checkbox {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(-60px) translateY(23px);
}
@media screen and (min-width: 768px) {
  .nav-item.nav-item--checkbox {
    position: relative;
    transform: translateY(0);
  }
}

.nav-item.color--switcher {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(-20px) translateY(52px);
}

.search-form {
  position: relative;
  margin: 0 auto;
}
@media screen and (min-width: 336px) {
  .search-form {
    max-width: 336px;
  }
}
@media screen and (min-width: 394px) {
  .search-form {
    max-width: 394px;
  }
}

.search-form__input {
  display: block;
  padding-bottom: 4px;
  margin-bottom: 16px;
  width: 100%;
  height: 20px;
  background-color: transparent;
  outline: transparent;
  border: none;
  border-bottom: 0.5px solid var(--mainWhiteColorFooter);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--mainWhiteColorFooter);
}
.search-form__input::-moz-placeholder {
  color: inherit;
}
.search-form__input:-ms-input-placeholder {
  color: inherit;
}
.search-form__input::placeholder {
  color: inherit;
}
.search-form__input.not-valid {
  color: var(--notValid);
}
.search-form__input:hover, .search-form__input:focus {
  background-color: var(--InputHeaderBgColor);
  box-shadow: var(--boxShadowHeader1) 0px 54px 55px, var(--boxShadowHeader2) 0px -12px 30px, var(--boxShadowHeader2) 0px 4px 6px, var(--boxShadowHeader3) 0px 12px 13px, var(--boxShadowHeader4) 15px -15px 15px;
}

.search-form__error {
  height: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--notValid);
}
@media screen and (min-width: 768px) {
  .search-form__error {
    text-align: center;
  }
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 15px;
  background-color: inherit;
  border: none;
  color: var(--mainWhiteColorFooter);
  cursor: pointer;
}
.search-btn:hover, .search-btn:focus {
  color: var(--mainRedColor);
}
.search-btn__icon {
  fill: currentColor;
  width: 12px;
  height: 12px;
}

.marquee-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 3px;
  text-align: center;
  color: #fff;
  background: linear-gradient(0deg, rgb(5, 5, 4) 40%, rgb(175, 26, 26) 60%);
}
.marquee-wrapper:after {
  position: absolute;
  content: "UA NEWS";
  right: 0;
  top: 0;
  width: 80px;
  height: 100%;
  background-color: #000;
}

.marquee {
  white-space: nowrap;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .filters {
    gap: 20px;
  }
}

.filters__item {
  background-color: var(--filterColor);
  color: var(--mainWhiteColorFooter);
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.filters__item:hover, .filters__item:focus {
  box-shadow: var(--boxShadowHeader1) 0px 54px 55px, var(--boxShadowHeader2) 0px -12px 30px, var(--boxShadowHeader2) 0px 4px 6px, var(--boxShadowHeader3) 0px 12px 13px, var(--boxShadowHeader4) 15px -15px 15px;
}

.wrapper {
  background-color: var(--secTextColor);
}

.slider-container {
  display: none;
  padding: 0 30px 0 30px;
}
@media screen and (min-width: 768px) {
  .slider-container {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.slider {
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .slider {
    width: 900px;
    margin: 0 auto;
    padding: 10px 0px;
  }
}
@media screen and (min-width: 1280px) {
  .slider {
    width: 1200px;
  }
}

.slider__track {
  display: flex;
  transition: 0.5s;
}

.slider-film__img {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 5px;
  width: 180px;
  height: 240px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .slider-film__img {
    width: 120px;
    height: 180px;
    border-radius: 5px;
  }
}
@media screen and (min-width: 1280px) {
  .slider-film__img {
    width: 160px;
    height: 240px;
    border-radius: 5px;
  }
}
.slider-film__img:hover, .slider-film__img:focus {
  transform: scale(1.09);
}

.btn-prev {
  display: flex;
  align-items: center;
  border-radius: 50 50 50 50;
}

.btn-next {
  align-items: center;
  border-radius: 50 50 50 50;
}

.button-prev {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: var(--mainRedColor);
  color: #000;
  border-radius: 50px;
  justify-content: center;
}
.button-prev:hover, .button-prev:focus {
  background-color: var(--mainBlackColor);
  color: var(--mainRedColor);
  border: solid var(--mainRedColor);
  transition: background-color 500ms, outline-color 250ms;
}

.button-next {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  right: 5%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: var(--mainRedColor);
  color: var(--mainBlackColor);
  border-radius: 50px;
  justify-content: center;
}
.button-next:hover, .button-next:focus {
  background-color: var(--mainBlackColor);
  color: var(--mainRedColor);
  border: solid var(--mainRedColor);
  transition: background-color 500ms, outline-color 250ms;
}

.header-library {
  padding: 40px 0 60px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--bgColorHeader);
  background-image: var(--bg-image-lib-320);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header-library {
    background-image: var(--bg-image-lib-320-2x);
    background-image: var(--bg-image-lib-320-2x-webp);
  }
}
@media screen and (min-width: 768px) {
  .header-library {
    background-image: var(--bg-image-lib-768);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header-library {
    background-image: var(--bg-image-lib-768-2x);
    background-image: var(--bg-image-lib-768-2x-webp);
  }
}
@media screen and (min-width: 1280px) {
  .header-library {
    background-image: var(--bg-image-lib-1280);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header-library {
    background-image: var(--bg-image-lib-1280-2x);
    background-image: var(--bg-image-lib-1280-2x-webp);
  }
}

.header-page-library {
  text-align: center;
}

.headerButtons {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.button-library {
  width: 130px;
  height: 44px;
  cursor: pointer;
  color: var(--mainWhiteColorFooter);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color 250ms ease;
}
@media screen and (min-width: 768px) {
  .button-library {
    width: 150px;
  }
}

.button-item-library:not(:last-child) {
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .button-item-library:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .button-item-library:not(:last-child) {
    margin-right: 15px;
  }
}

.watched .button-watched,
.button-queue {
  background-color: var(--cardText);
  border-color: var(--cardText);
}

.button-watched,
.watched .button-queue,
.start .button-watched,
.start .button-queue {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--mainWhiteColorFooter);
}

.film-card {
  list-style: none;
  margin: 20px auto;
}
.film-card__box-img {
  height: 398px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .film-card__box-img {
    height: 455px;
  }
}
@media screen and (min-width: 1280px) {
  .film-card__box-img {
    height: 574px;
  }
}
.film-card__img {
  min-width: 100%;
  min-height: 100%;
  flex-shrink: 0;
  cursor: pointer;
}
.film-card__box-info {
  font-weight: medium;
  margin: 8px 0;
}
@media screen and (max-width: 1280px) {
  .film-card__box-info {
    font-size: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .film-card__box-info {
    margin: 12px 0;
  }
}
.film-card__title {
  color: var(--mainBlackColor);
  text-transform: uppercase;
}
.film-card__text {
  color: var(--cardText);
  line-height: 1.4;
}
.film-card__rating {
  display: inline-block;
  background-color: var(--cardText);
  border-radius: 5px;
  color: white;
  font-size: 12px;
  padding: 1px 8px;
  margin-left: 8px;
}
@media screen and (min-width: 1280px) {
  .film-card__rating {
    padding: 3px 8px;
  }
}

.footer {
  margin-top: auto;
  font-weight: 400;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--footerTextColor);
  background-color: var(--thirdColor);
  padding: 29px 0;
}
@media screen and (max-width: 767px) {
  .footer {
    max-height: 100px;
    font-size: 14px;
    line-height: 1.4;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    font-size: 16px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 767px) {
  .rights-item {
    display: block;
    padding-top: 9px;
  }
}

.students-link {
  cursor: pointer;
  color: var(--footerTextColor);
  text-decoration: underline;
}
.students-link:hover, .students-link:focus {
  color: var(--cardText);
}

.icon-heart {
  padding: 0 10px;
  fill: var(--cardText);
  -webkit-animation-name: changeColor;
          animation-name: changeColor;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes changeColor {
  0% {
    fill: var(--cardTextOpac);
  }
  50% {
    fill: var(--cardText);
  }
  100% {
    fill: var(--cardTextOpac);
  }
}

@keyframes changeColor {
  0% {
    fill: var(--cardTextOpac);
  }
  50% {
    fill: var(--cardText);
  }
  100% {
    fill: var(--cardTextOpac);
  }
}
.container__numbers-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.container__numbers-item {
  padding: 13px;
  font-size: 12;
  font-weight: medium;
  margin: 0 3px;
  border-radius: 5px;
  transition: background-color 250ms linear;
  cursor: pointer;
}
.container__numbers-item.is-active-page {
  background-color: var(--cardText);
  color: var(--mainWhiteColor);
}
.container__numbers-item:hover {
  background-color: var(--thirdColor);
}
.container__numbers-item.is-active-page:hover {
  background-color: var(--cardText);
}
.container__numbers-span {
  height: 3px;
}
.container__numbers-arrow-box {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 5px;
  background-color: var(--thirdColor);
  font-size: 0;
  transition: background-color 250ms linear;
  cursor: pointer;
}
.container__numbers-arrow-box:hover {
  background-color: var(--cardText);
}
.container__numbers-arrow-box:hover .container__numbers-arrow-left, .container__numbers-arrow-box:hover .container__numbers-arrow-right, .container__numbers-arrow-box:hover .container__numbers-arrow-left::after, .container__numbers-arrow-box:hover .container__numbers-arrow-right::after, .container__numbers-arrow-box:hover .container__numbers-arrow-left::before, .container__numbers-arrow-box:hover .container__numbers-arrow-right::before {
  background-color: var(--mainWhiteColor);
}
.container__numbers-arrow-left, .container__numbers-arrow-right, .container__numbers-arrow-left::after, .container__numbers-arrow-right::after, .container__numbers-arrow-left::before, .container__numbers-arrow-right::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  border-radius: 1px;
  background-color: var(--mainBlackColor);
  fill: var(--mainWhiteColor);
}
.container__numbers-arrow-left {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
}
.container__numbers-arrow-left::after {
  top: 3px;
  left: -1px;
  transform: rotate(45deg);
}
.container__numbers-arrow-left::before {
  bottom: 3px;
  left: -1px;
  transform: rotate(-45deg);
}
.container__numbers-arrow-right {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
}
.container__numbers-arrow-right::after {
  top: 3px;
  right: -1px;
  transform: rotate(-45deg);
}
.container__numbers-arrow-right::before {
  bottom: 3px;
  right: -1px;
  transform: rotate(45deg);
}

.backdrop {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(100, 100, 100, 0.5);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.modal-film__card-overlay {
  display: flex;
  justify-content: center;
  align-items: start;
}
@media screen and (max-width: 767px) {
  .modal-film__card-overlay {
    padding: 20px 20px;
  }
}
@media screen and (min-width: 768px) {
  .modal-film__card-overlay {
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 767px) {
  .modal-film__card-overlay {
    align-items: start;
  }
}

.modal-film__card-overlay::before {
  position: fixed;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .modal-film__card-overlay::before {
    margin-top: 20px;
  }
}

.modal-film__card {
  position: relative;
  padding: 48px 20px 40px 20px;
  width: 100%;
  background-color: var(--mainWhiteColor);
  box-shadow: var(--boxShadowModal1) 0px 2px 4px 0px, var(--boxShadowModal2) 0px 2px 16px 0px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) {
  .modal-film__card {
    width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .modal-film__card {
    width: 704px;
    padding: 40px 72px 40px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-film__card {
    width: 806px;
    padding: 40px 12px 40px 12px;
  }
}

.modal-film__close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: inherit;
  border: none;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  z-index: 112;
}

.modal-film__close-icon {
  width: 16px;
  height: 16px;
  transition: all 0.2s ease-in-out;
}
.modal-film__close-icon:hover, .modal-film__close-icon:active {
  transform: scale(1.5);
  color: var(--mainRedColor);
}

.modal-film__card-content {
  max-height: 80vh;
  overflow: auto;
  z-index: 103;
  position: relative;
}

@media screen and (min-width: 768px) {
  .modal-film__card-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.modal-film__poster {
  width: 240px;
  height: auto;
  flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .modal-film__poster {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .modal-film__poster {
    width: 264px;
    height: 374px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-film__poster {
    width: 375px;
    height: 478px;
  }
}

@media screen and (min-width: 768px) {
  .modal-film__label {
    width: 264px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-film__label {
    width: 391px;
  }
}

.modal-film__title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--mainBlackColor);
}
@media screen and (min-width: 1280px) {
  .modal-film__title {
    font-size: 30px;
  }
}

.modal-film__info {
  margin-bottom: 20px;
}

.modal-film__item {
  display: flex;
  margin-bottom: 8px;
}

.modal-film__item-title {
  width: 110px;
  margin-right: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--secTextColor);
  flex-shrink: 0;
}
.modal-film__item-title:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1280px) {
  .modal-film__item-title {
    min-width: 152px;
  }
}

.modal-film__item-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.vote {
  width: 36px;
  height: 16px;
  margin-right: 2px;
  text-align: center;
  background-color: var(--filterText);
  color: var(--mainWhiteColor);
  border-radius: 5px;
}

.votes {
  width: 36px;
  height: 16px;
  margin-left: 2px;
  text-align: center;
  background-color: var(--thirdColor);
  color: var(--mainBlackColor);
  border-radius: 5px;
}

.modal-film__about-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--mainBlackColor);
}

.modal-film__about-text {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--mainBlackColor);
}

.modal-film__btn-box {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 320px) {
  .modal-film__btn-box {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .modal-film__btn-box {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .modal-film__btn-box {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 320px) {
  .modal-film__btn-item:last-child {
    margin-top: 10px;
  }
}
@media screen and (min-width: 321px) {
  .modal-film__btn-item:last-child {
    margin-left: 20px;
  }
}
@media screen and (min-width: 768px) {
  .modal-film__btn-item:last-child {
    margin-left: 0;
  }
}
@media screen and (min-width: 1280px) {
  .modal-film__btn-item:last-child {
    margin-left: 15px;
  }
}

.modal-film__btn {
  width: 110px;
  min-height: 44px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  color: var(--mainBlackColor);
  background-color: var(--mainWhiteColor);
  cursor: pointer;
  border: 1px solid var(--mainBlackColor);
}
.modal-film__btn:active, .modal-film__btn:focus, .modal-film__btn:hover {
  border-color: var(--filterText);
  background-color: var(--filterText);
  color: var(--mainWhiteColor);
}
@media screen and (max-width: 320px) {
  .modal-film__btn {
    width: 160px;
  }
}
@media screen and (min-width: 768px) {
  .modal-film__btn {
    width: 125px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-film__btn {
    width: 136px;
  }
}

.remove .modal-film__watched-button,
.remove .modal-film__queue-button,
.modal-film__watched-buttonr,
.modal-film__queue-buttonr {
  display: none;
}

.remove .modal-film__watched-buttonr,
.remove .modal-film__queue-buttonr {
  display: block;
}

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #000000;
  margin-top: 40px;
}

.video__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: none;
  padding: 0;
  width: 68px;
  height: 48px;
  border: none;
  background-color: transparent;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.video__button-shape {
  fill: #212121;
  fill-opacity: 0.8;
}

.video__button-icon {
  fill: #ffffff;
}

.video__button:focus {
  outline: none;
}

.video:hover .video__button-shape,
.video__button:focus .video__button-shape {
  fill: #ff0000;
  fill-opacity: 1;
}

/* Enabled */
.video--enabled {
  cursor: pointer;
}

.video--enabled .video__button {
  display: block;
}

.modal-film__back-btn, .modal-film__next-btn {
  border: none;
  position: absolute;
  top: 50%;
  height: 54px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 250ms;
  padding: 15px;
  border-radius: 50%;
}
.modal-film__back-btn:hover, .modal-film__next-btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.modal-film__back-btn svg, .modal-film__next-btn svg {
  fill: #ff0000;
  transform: scale(1.5, 1.8);
  position: absolute;
  top: 30%;
  cursor: pointer;
}

.modal-film__back-btn path,
.modal-film__next-btn path {
  pointer-events: none;
}

.modal-film__back-btn {
  transform: rotate(180deg) translateY(50%);
  left: -25px;
}

.modal-film__next-btn {
  transform: translateY(-50%);
  right: -25px;
}

/* Модальный (фон) */
.modal-team {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: rgba(0, 0, 0, 0.4); /* Черный с непрозрачностью */
}

.modal-content {
  background-color: var(--thirdColor);
  margin: 15% auto; /* 15% сверху и по центру */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 80%; /* Может быть больше или меньше, в зависимости от размера экрана */
  opacity: 0.95;
}

/* Close Btn */
.close {
  color: var(--footerTextColor);
  float: right;
  font-size: 45px;
  font-style: inherit;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--cardText);
  text-decoration: none;
  cursor: pointer;
}

.team-table-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.team-table-item {
  color: var(--footerTextColor);
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 20px;
}
@media screen and (max-width: 767px) {
  .team-table-item {
    width: calc((100% - 5px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .team-table-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1280px) {
  .team-table-item {
    width: calc((100% - 90px) / 4);
  }
}

.team-title {
  color: var(--footerTextColor);
  font-size: 24px;
  line-height: 1.4;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.team-photo {
  margin-bottom: 20px;
  border-radius: 10px 10px;
}
.team-photo:hover, .team-photo:active {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1.03);
}

.modal-offer {
  position: relative;
  margin: 0 auto;
  z-index: 5000;
}
@media screen and (min-width: 400px) {
  .modal-offer {
    max-width: 350px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-offer {
    max-width: 400px;
  }
}

.input-offer__list {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -70;
  background-color: var(--inputModalBgColor);
}
.input-offer__item {
  display: flex;
  padding: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 1.7;
  border: 1px solid var(--mainWhiteColor);
}
@media screen and (min-width: 768px) {
  .input-offer__item {
    text-transform: uppercase;
    font-size: 14px;
  }
}
.input-offer__img {
  margin-right: 5px;
  pointer-events: none;
}

.input-offer__desc {
  padding: 5px;
  text-align: left;
  margin: auto 0;
  pointer-events: none;
}
.input-offer__desc p:not(:last-child) {
  margin-bottom: 3px;
}
.input-offer__desc .film-card__title {
  color: var(--mainWhiteColor);
}
.input-offer__desc #release_date {
  color: var(--mainBlackColor);
  font-weight: 700;
}
.input-offer__genres {
  color: var(--filterText);
}
.input-offer__rating {
  -webkit-animation: shake 2s linear alternate infinite;
          animation: shake 2s linear alternate infinite;
}
@-webkit-keyframes shake {
  to {
    transform: translateX(30px);
  }
}
@keyframes shake {
  to {
    transform: translateX(30px);
  }
}

.color--select {
  margin: 0;
  width: 2%;
  height: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.color--label:hover,
.color--label:focus {
  box-shadow: var(--boxShadowHeader1) 0px 54px 55px, var(--boxShadowHeader2) 0px -12px 30px, var(--boxShadowHeader2) 0px 4px 6px, var(--boxShadowHeader3) 0px 12px 13px, var(--boxShadowHeader4) 15px -15px 15px;
}

.color--label {
  width: 40px;
  height: 20px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 20px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}
.color--label:after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.color--label svg {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 3px;
  z-index: 100;
}
.color--label svg.sun {
  left: 4px;
  fill: #fff;
  transition: 0.3s;
}
.color--label svg.moon {
  left: 24px;
  fill: #7e7e7e;
  transition: 0.3s;
}

.color--input {
  width: 0;
  height: 0;
  visibility: hidden;
}
.color--input:checked + .color--label {
  background: #242424;
}
.color--input:checked + .color--label:after {
  left: 38px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
.color--input:checked + .color--label svg.sun {
  fill: #7e7e7e;
}
.color--input:checked + .color--label svg.moon {
  fill: #fff;
}
.color--input:active:after {
  width: 260px;
}

.btn-up {
  position: fixed;
  background-color: var(--cardText);
  right: 20px;
  bottom: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  opacity: 0.8;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up--hide {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: var(--cardTextOpac);
  }
}
.translate {
  display: none;
}

.translate:checked ~ .ua,
.translate:not(:checked) ~ .eng {
  display: none;
}

.ua, .eng {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */