@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: "Roboto", sans-serif;
  color: #D41443;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (min-width: 320px) {
  .container {
    min-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.table-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.table-item {
  width: calc((100% - 64px) / 3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body.no-scroll {
  overflow: hidden;
}

.header p {
  color: rgb(22, 117, 9);
}

.logo-icon {
  fill: transparent;
  stroke: currentColor;
}

.footer {
  font-weight: 400;
  display: flex;
  align-items: center;
  text-align: center;
  color: #545454;
  background-color: #F7F7F7;
  padding: 29px 0;
}
@media screen and (max-width: 767px) {
  .footer {
    max-height: 100px;
    font-size: 14px;
    line-height: 1.4;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    font-size: 16px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 767px) {
  .rights-item {
    display: block;
    padding-top: 9px;
  }
}

.students-link {
  color: #545454;
  text-decoration: underline;
}
.students-link:hover, .students-link:focus {
  color: #FF6B08;
}

.modal-film__container {
  z-index: 10;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
}
.modal-film__btn-close {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: 0 0;
  transition: all 0.3s linear;
  position: absolute;
  top: 8px;
  right: 8px;
}
.modal-film__wrap {
  width: 100%;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 20px 40px;
  display: flex;
}
.modal-film__label {
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
  display: flex;
}

.btn-up {
  position: fixed;
  background-color: #FF6B08;
  right: 20px;
  bottom: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  opacity: 0.8;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: rgba(255, 107, 8, 0.6352941176);
  }
}/*# sourceMappingURL=index.css.map */