@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
.dark-color {
  --brand-color: grey;
}

.light-color {
  --brand-color: white;
}

body {
  background-color: var(--brand-color);
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (min-width: 320px) {
  .container {
    min-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.table-list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .table-list {
    max-width: 320px;
  }
}

@media screen and (max-width: 767px) {
  .table-item {
    max-width: 280px;
    margin: 0 auto 16px auto;
  }
}
@media screen and (min-width: 768px) {
  .table-item {
    margin: 16px;
    flex-basis: calc(50% - 32px);
  }
}
@media screen and (min-width: 1280px) {
  .table-item {
    margin: 16px;
    flex-basis: calc(33.3333333333% - 32px);
  }
}

@media screen and (max-width: 768px) {
  .table-item:last-child {
    margin-bottom: 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body.no-scroll {
  overflow: hidden;
}

.header {
  padding: 40px 0 45px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.56);
  background-image: url(/src/images/header-main/header-320.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image: url(/src/images/header-main/header-320@2x.jpg);
    background-image: -webkit-image-set(url(/src/images/header-main/header-320@2x.webp) 2x);
  }
}
@media screen and (min-width: 768px) {
  .header {
    background-image: url(/src/images/header-main/header-768.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(/src/images/header-main/header-768@2x.jpg);
    background-image: -webkit-image-set(url(/src/images/header-main/header-768@2x.webp) 2x);
  }
}
@media screen and (min-width: 1280px) {
  .header {
    background-image: url(/src/images/header-main/header-1280.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(/src/images/header-main/header-1280@2x.jpg);
    background-image: -webkit-image-set(url(/src/images/header-main/header-1280@2x.webp) 2x);
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
  letter-spacing: 1.7;
}
@media screen and (min-width: 768px) {
  .nav {
    margin-bottom: 40px;
  }
}

.logo {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #fff;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
}
.logo-icon {
  fill: transparent;
  stroke: currentColor;
}
.logo-name {
  display: none;
}
@media screen and (min-width: 768px) {
  .logo-name {
    display: inline;
  }
}

.nav-list {
  position: relative;
  display: flex;
  gap: 39px;
  text-transform: uppercase;
}

.nav-link {
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
}
.nav-link:hover {
  color: #FF001B;
  box-shadow: rgba(255, 0, 0, 0.25) 0px 54px 55px, rgba(255, 0, 0, 0.12) 0px -12px 30px, rgba(255, 0, 0, 0.12) 0px 4px 6px, rgba(255, 0, 0, 0.17) 0px 12px 13px, rgba(255, 0, 0, 0.09) 15px -15px 15px;
}

.nav-item--active::after {
  display: block;
  content: "";
  height: 3px;
  background-color: #FF001B;
}

.nav-item.nav-item--button {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(30px);
}
@media screen and (min-width: 768px) {
  .nav-item.nav-item--button {
    position: relative;
    transform: translateY(0);
  }
}

.login-btn {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 1.7;
  cursor: pointer;
}
.login-btn:hover {
  color: #FF001B;
}

.nav-item.nav-item--checkbox {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(-70px) translateY(30px);
}
@media screen and (min-width: 768px) {
  .nav-item.nav-item--checkbox {
    position: relative;
    transform: translateY(0);
  }
}

.search-form {
  position: relative;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .search-form {
    max-width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .search-form {
    max-width: 394px;
  }
}

.search-form__input {
  display: block;
  padding-bottom: 4px;
  margin-bottom: 16px;
  width: 100%;
  height: 20px;
  background-color: transparent;
  outline: transparent;
  border: none;
  border-bottom: 0.5px solid #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #fff;
}
.search-form__input::-moz-placeholder {
  color: inherit;
}
.search-form__input:-ms-input-placeholder {
  color: inherit;
}
.search-form__input::placeholder {
  color: inherit;
}
.search-form__input.not-valid {
  color: #FF001B;
}

.search-form__error {
  height: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #FF001B;
}
@media screen and (min-width: 768px) {
  .search-form__error {
    text-align: center;
  }
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 15px;
  background-color: inherit;
  border: none;
  color: #fff;
  cursor: pointer;
}
.search-btn:hover {
  color: #FF001B;
}
.search-btn__icon {
  fill: currentColor;
  width: 12px;
  height: 12px;
}

.header-library {
  padding: 40px 0 60px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.56);
  background-image: url(/src/images/header-library/header-library-1280.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header-library {
    background-image: url(/src/images/header-library/header-library-320@2x.jpg);
    background-image: -webkit-image-set(url(/src/images/header-library/header-library-320@2x.webp) 2x);
  }
}
@media screen and (min-width: 768px) {
  .header-library {
    background-image: url(/src/images/header-library/header-library-768.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header-library {
    background-image: url(/src/images/header-library/header-library-768@2x.jpg);
    background-image: -webkit-image-set(url(/src/images/header-library/header-library-768@2x.webp) 2x);
  }
}
@media screen and (min-width: 1280px) {
  .header-library {
    background-image: url(/src/images/header-library/header-library-1280.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header-library {
    background-image: url(/src/images/header-library/header-library-1280@2x.jpg);
    background-image: -webkit-image-set(url(/src/images/header-library/header-library-1280@2x.webp) 2x);
  }
}

.header-page-library {
  text-align: center;
}

.headerButtons {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.button-library {
  width: 130px;
  height: 44px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .button-library {
    width: 150px;
  }
}

.button-item-library:not(:last-child) {
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .button-item-library:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .button-item-library:not(:last-child) {
    margin-right: 15px;
  }
}

.film-card {
  list-style: none;
  margin: 20px auto;
}
.film-card__box-img {
  height: 398px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .film-card__box-img {
    height: 455px;
  }
}
@media screen and (min-width: 1280px) {
  .film-card__box-img {
    height: 574px;
  }
}
.film-card__img {
  min-width: 100%;
  min-height: 100%;
  flex-shrink: 0;
}
.film-card__box-info {
  font-weight: medium;
  margin: 8px 0;
}
@media screen and (max-width: 1280px) {
  .film-card__box-info {
    font-size: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .film-card__box-info {
    margin: 12px 0;
  }
}
.film-card__title {
  color: black;
  text-transform: uppercase;
}
.film-card__text {
  color: #FF6B08;
  line-height: 1.4;
}
.film-card__rating {
  display: inline-block;
  background-color: #FF6B08;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  padding: 1px 8px;
  margin-left: 8px;
}
@media screen and (min-width: 1280px) {
  .film-card__rating {
    padding: 3px 8px;
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .filters {
    flex-direction: row;
    justify-content: center;
  }
}

.filters__item {
  background-color: #b32331;
  color: #ff6b01;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .filters__list:not(:last-child) {
    margin-right: 20px;
  }
}

.filter__text {
  margin-left: 10px;
  font-size: 12px;
  color: #fff;
}

.footer {
  font-weight: 400;
  display: flex;
  align-items: center;
  text-align: center;
  color: #545454;
  background-color: #F7F7F7;
  padding: 29px 0;
}
@media screen and (max-width: 767px) {
  .footer {
    max-height: 100px;
    font-size: 14px;
    line-height: 1.4;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    font-size: 16px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 767px) {
  .rights-item {
    display: block;
    padding-top: 9px;
  }
}

.students-link {
  cursor: pointer;
  color: #545454;
  text-decoration: underline;
}
.students-link:hover, .students-link:focus {
  color: #FF6B08;
}

.icon-heart {
  padding: 0 10px;
}

.wrapper {
  width: 1185px;
  margin: 0 auto;
  background-color: rgb(234, 33, 33);
  padding-bottom: 20px;
  font-size: 13px;
}

.slider-container {
  overflow: hidden;
  background-color: pink;
}

.slider__track {
  display: flex;
  background-color: yellow;
  transition: 0.2s;
}

.slider__item {
  min-width: 200px;
}

.slider__buttons {
  text-align: center;
}

.modal-film__card-overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(100, 100, 100, 0.5);
  transition: all 0.5s ease-in-out;
  z-index: 100;
}

.modal-film__card-content {
  display: flex;
  width: 280px;
  min-height: 700px;
  padding: 48px 20px 40px 20px;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  transform: translate(-150%);
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.2s ease 0.2s;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal-film__card-content {
    width: 704px;
    min-height: 450px;
    padding: 40px 72px 40px 36px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 1280px) {
  .modal-film__card-content {
    width: 806px;
    min-height: 550px;
    padding: 40px 12px 40px 12px;
  }
}

.modal-film__close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: inherit;
  border: none;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.modal-film__close-icon {
  width: 16px;
  height: 16px;
  transition: all 0.2s ease-in-out;
}
.modal-film__close-icon:hover, .modal-film__close-icon:active {
  transform: scale(1.5);
  color: #FF001B;
}

.modal-film__poster {
  width: 240px;
  height: 357px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal-film__poster {
    width: 264px;
    height: 374px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-film__poster {
    width: 375px;
    height: 478px;
  }
}

.modal-film__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .modal-film__title {
    font-size: 30px;
    line-height: 35px;
  }
}

.modal-film__info-block {
  margin-bottom: 20px;
}

/* Модальный (фон) */
.modal-teem {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: rgba(0, 0, 0, 0.4); /* Черный с непрозрачностью */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% сверху и по центру */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Может быть больше или меньше, в зависимости от размера экрана */
}

/* Close Btn */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-offer {
  position: relative;
  margin: 0 auto;
}

.input-offer__list {
  position: absolute;
  top: -75;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(85, 46, 46);
}
.input-offer__item {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 1.7;
  color: #fff;
  padding: 5px;
  border: 1px solid #fff;
  height: 150px;
}
@media screen and (min-width: 768px) {
  .input-offer__item {
    text-transform: uppercase;
    font-size: 14px;
  }
}
.input-offer__item__item.film-card__img {
  height: auto;
}

.input-offer__desc {
  padding: 5px;
}
.input-offer__desc p:not(:last-child) {
  margin-bottom: 3px;
}
.input-offer__desc .film-card__title {
  color: #fff;
}
.input-offer__desc #release_date {
  color: #000;
  font-weight: 700;
}

.color--select {
  margin: 0;
  width: 2%;
  height: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.color--label {
  width: 40px;
  height: 20px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 20px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}
.color--label:after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.color--label svg {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 3px;
  z-index: 100;
}
.color--label svg.sun {
  left: 4px;
  fill: #fff;
  transition: 0.3s;
}
.color--label svg.moon {
  left: 24px;
  fill: #7e7e7e;
  transition: 0.3s;
}

.color--input {
  width: 0;
  height: 0;
  visibility: hidden;
}
.color--input:checked + .color--label {
  background: #242424;
}
.color--input:checked + .color--label:after {
  left: 38px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
.color--input:checked + .color--label svg.sun {
  fill: #7e7e7e;
}
.color--input:checked + .color--label svg.moon {
  fill: #fff;
}
.color--input:active:after {
  width: 260px;
}

.btn-up {
  position: fixed;
  background-color: #FF6B08;
  right: 20px;
  bottom: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  opacity: 0.8;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: rgba(255, 107, 8, 0.6352941176);
  }
}
.translate {
  display: none;
}

.translate:checked ~ .ua,
.translate:not(:checked) ~ .eng {
  display: none;
}

.ua, .eng {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */