.color--select {
    margin: 0;
    width: 2%;
    height: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.color--label:hover,
.color--label:focus {box-shadow: var(--boxShadowHeader1) 0px 54px 55px, var(--boxShadowHeader2) 0px -12px 30px, var(--boxShadowHeader2) 0px 4px 6px, var(--boxShadowHeader3) 0px 12px 13px, var(--boxShadowHeader4) 15px -15px 15px;}

.color--label {
    width: 40px;
    height: 20px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 20px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
        inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;

    &:after {
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        top: 2px;
        left: 2px;
        background: linear-gradient(180deg, #ffcc89, #d8860b);
        border-radius: 50%;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        transition: 0.3s;
    }

    svg {
        position: absolute;
        width: 13px;
        height: 13px;
        top: 3px;
        z-index: 100;

        &.sun {
            left: 4px;
            fill: #fff;
            transition: 0.3s;
        }

        &.moon {
            left: 24px;
            fill: #7e7e7e;
            transition: 0.3s;
        }
    }
}

.color--input {
    width: 0;
    height: 0;
    visibility: hidden;

    &:checked+.color--label {
        background: #242424;

        &:after {
            left: 38px;
            transform: translateX(-100%);
            background: linear-gradient(180deg, #777, #3a3a3a);
        }

        svg {
            &.sun {
                fill: #7e7e7e;
            }

            &.moon {
                fill: #fff;
            }
        }
    }

    &:active:after {
        width: 260px;
    }
}
