//color vars
$mainRedColor: #FF001B;
$mainBlackColor: #000;
$mainWfiteColor: #fff;

$thirdColor: #F7F7F7; // Используется в footer и пагинация

//vars for table list
$count-cards: 3;
$dst-between: 32px;
$animation-regular: 250ms cubic-bezier(0.4, 0, 0.2, 1);