<footer class="footer">
  <div class="container footer-desc">
    <div><p class="rights-item" data-text="rights">© 2022 | All Rights Reserved |</p></div>
    <div class="left-item">
          <p data-text="developed">Developed with</p>
          <svg class="icon-heart" width="16" height="15">
            <use href="/src/images/icons/icons.svg#icon-heart"></use>
          </svg>
          <p data-text="by">by</p>
          <a class="students-link" id="modal-team-Btn" href="#" aria-label="modal width team developers" data-text="students">GoIT Students</a>
    </div>
  </div>
</footer>
