<header class="header">
    <div class="container">
        <nav class="nav">
        <a class="logo" href="/src/index.html">
            <svg class="logo-icon" width="32" height="32">
            <use href="/src/images/icons/icons.svg#icon-film"></use>
            </svg>
        </a>    

        <ul class="nav-list">
            <li class="nav-item">
            <a class="nav-link" href="/src/index.html">home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/src/partials/library-pg.html">library</a>
            </li>
        </ul>
        </nav>

        <form class="search-form">
        <label>
            <p class="search-placeholder">movie search</p>
            <input class="search-input" type="text" placeholder="movie search" />
            <p class="search-error">
            Search result not successful. Enter the correct movie name and
            </p>
        </label>
        <button class="search-btn" type="submit">
            <svg class="search-icon" width="32" height="32">
            <use href="/src/images/icons/icons.svg#icon-search"></use>
            </svg>
        </button>
        </form>
    </div>
</header>
