<header class="header">
    <div class="container">
        <nav class="nav">
            <a class="logo" href="/src/index.html">
                <svg class="logo-icon" width="32" height="32">
                <use href="/src/images/icons/icons.svg#icon-film"></use>
                </svg>
                <p class="logo-name ">Filmoteka</p>
            </a>    

            <ul class="nav-list">
                <li class="nav-item nav-item--active">
                    <a class="nav-link" href="/src/index.html">home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/src/partials/library-pg.html">my library</a>
                </li>
                <li class="nav-item nav-item--button">
                    <button class="login-btn">login</button>
                </li>
            </ul>
        </nav>

        <form class="search-form">
            <label>                
                    <input class="search-form__input" type="text" placeholder="movie search" />                   
            </label>

            <button class="search-btn" type="submit">
                <svg class="search-btn__icon" width="32" height="32">
                    <use href="/src/images/icons/icons.svg#icon-search"></use>
                </svg>
            </button>            
        </form>

        <p class="search-form__error">
            Search result not successful. Enter the correct movie name and
        </p>
    </div>
</header>
