<header class="header">
  <div class="container">
    <!-- <a href="/src/index.html">home</a>
    <p id="lib">header library</p> -->
    <div class="header-page-library">
      <ul class="headerButtons">
        <li class="button-item-library">
          <button class="button-library js-btnWatched" data-action="watched">
            watched
          </button>
        </li>
        <li class="button-item-library">
          <button class="button-library js-btnQueue" data-action="queue">
            queue
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>
