<div
  class="modal-film__card-overlay backdrop visually-hidden"
  data-modal
  data-close="close"
>
  <div class="modal-film__card">
    <button
      type="button"
      class="modal-film__close-btn"
      data-close="close"
      aria-label="button close"
    >
      <svg
        width="12"
        height="12"
        class="modal-film__close-icon"
        data-close="close"
      >
        <use
          href="/src/images/icons/icons.svg#icon-close"
          data-close="close"
        ></use>
      </svg>
    </button>
    <div class="modal-film__card-content" data-modal-content></div>
    <button
      type="button"
      class="modal-film__back-btn"
      aria-label="button move back"
      data-back="back"
    >
      <svg width="24" height="24">
        <use href="/src/images/icons/icons.svg#icon-back"></use>
      </svg>
    </button>
    <button
      type="button"
      class="modal-film__next-btn"
      aria-label="button move next"
      data-next="next"
    >
      <svg width="24" height="24">
        <use href="/src/images/icons/icons.svg#icon-next"></use>
      </svg>
    </button>
  </div>
</div>
