<div>
  <div id="modal-team" class="modal-team">
    <!-- Модальное содержание -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2 class="team-title" data-text="team">TEAM "MRIIA"</h2>
      <ul class="team-table-list">
        <!-- 1 Сергій Місюк -->
        <li class="team-table-item">
          <div>
            <a
              href="https://github.com/smisyuk4"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                class="team-photo"
                src="/src/images/team-photo/Serhiy-Misiuk.jpg"
                alt="Сергій Місюк"
                width="200"
                height="200"
              />
            </a>
            <h3 class="" data-text="dev1">Сергій Місюк</h3>
            <p lang="en" data-text="teamLaed">Team Lead</p>
          </div>
        </li>
        <!-- 2 Олена Середа -->
        <li class="team-table-item">
          <div>
            <a href="https://github.com/olenkasereda" target="_blank" rel="noopener noreferrer">
              <img
                class="team-photo"
                src="/src/images/team-photo/Olena-Sereda.jpg"
                alt="Олена Середа"
                width="200"
                height="200"
              />
            </a>
            <h3 data-text="dev2">Олена Середа</h3>
            <p lang="en" data-text="scrumMaster">Scrum Master</p>
          </div>
        </li>
        <!-- 3 Віталій Воляник -->
        <li class="team-table-item">
          <div>
            <a href="https://github.com/Vitalii-Volianyk" target="_blank" rel="noopener noreferrer">
              <img
                class="team-photo"
                src="/src/images/team-photo/Vitaly-Volyanyk.jpg"
                alt="Віталій Воляник"
                width="200"
                height="200"
              />
            </a>
            <h3 data-text="dev3">Віталій Воляник</h3>
            <p lang="en" data-text="developer">Developer</p>
          </div>
        </li>
        <!-- 4 Олексій Смагрович -->
        <li class="team-table-item">
          <div>
            <a href="https://github.com/Fredy228" target="_blank" rel="noopener noreferrer">
              <img
                class="team-photo"
                src="/src/images/team-photo/Aleksii-Smagrovych.jpg"
                alt="Олексій Смагрович"
                width="200"
                height="200"
              />
            </a>
            <h3 data-text="dev4">Олексій Смагрович</h3>
            <p lang="en" data-text="developer">Developer</p>
          </div>
        </li>

        <!-- 5 Олена Бурдужа -->
        <li class="team-table-item">
          <div>
            <a href="https://github.com/OlenaBurduzha" target="_blank" rel="noopener noreferrer">
              <img
                class="team-photo"
                src="/src/images/team-photo/Olena-Burduzh.jpg"
                alt="Олена Бурдужа"
                width="200"
                height="200"
              />
            </a>
            <h3 data-text="dev5">Олена Бурдужа</h3>
            <p lang="en" data-text="developer">Developer</p>
          </div>
        </li>

        <!-- 6 Денис Бурдужа -->
        <li class="team-table-item">
          <div>
            <a href="https://github.com/Denys-Burduzha" target="_blank" rel="noopener noreferrer">
              <img
                class="team-photo"
                src="/src/images/team-photo/Denis-Burduzha.jpg"
                alt="Денис Бурдужа"
                width="200"
                height="200"
              />
            </a>
            <h3 data-text="dev6">Денис Бурдужа</h3>
            <p lang="en" data-text="developer">Developer</p>
          </div>
        </li>

        <!-- 7 Ілля Павленко -->
        <li class="team-table-item">
          <div>
            <a href="https://github.com/papalanya" target="_blank" rel="noopener noreferrer">
              <img
                class="team-photo"
                src="/src/images/team-photo/Ilya-Pavlenko.jpg"
                alt="Ілля Павленко"
                width="200"
                height="200"
              />
            </a>
            <h3 data-text="dev7">Ілля Павленко</h3>
            <p lang="en" data-text="developer">Developer</p>
          </div>
        </li>

        <!-- 8 Денис Томай -->
        <li class="team-table-item">
          <div>
            <a href="https://github.com/Den4kss" target="_blank" rel="noopener noreferrer">
              <img
                class="team-photo"
                src="/src/images/team-photo/Denis-Tomai.jpg"
                alt="Денис Томай"
                width="200"
                height="200"
              />
            </a>
            <h3 data-text="dev8">Денис Томай</h3>
            <p lang="en" data-text="developer">Developer</p>
          </div>
        </li>

        <!-- 9 Павло Наливайко -->
        <li class="team-table-item">
          <div>
            <a href="https://github.com/Naliv88" target="_blank" rel="noopener noreferrer">
              <img
                class="team-photo"
                src="/src/images/team-photo/Pavlo-Nalyvaiko.jpg"
                alt="Павло Наливайко"
                width="200"
                height="200"
              />
            </a>
            <h3 data-text="dev9">Павло Наливайко</h3>
            <p lang="en" data-text="developer">Developer</p>
          </div>
        </li>

        <!-- 10 Андрій Тлустенко -->
        <li class="team-table-item">
          <div>
            <a href="https://github.com/AndreyTlustenko" target="_blank" rel="noopener noreferrer">
              <img
                class="team-photo"
                src="/src/images/team-photo/Andrii-Tlustenko.jpg"
                alt="Андрій Тлустенко"
                width="200"
                height="200"
              />
            </a>
            <h3 data-text="dev10">Андрій Тлустенко</h3>
            <p lang="en" data-text="developer">Developer</p>
          </div>
        </li>

        <!-- 11 Сергій Філатов -->
        <li class="team-table-item">
          <div>
            <a
              href="https://github.com/Serhii-Filatov"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                class="team-photo"
                src="/src/images/team-photo/Serhiy-Filatov.jpg"
                alt="Сергій Філатов"
                width="200"
                height="200"
              />
            </a>
            <h3 data-text="dev11">Сергій Філатов</h3>
            <p lang="en" data-text="developer">Developer</p>
          </div>
        </li>
      </ul>
      <hr />
    </div>
  </div>
</div>
