<!-- <div class="modal-film__container visually-hidden">
    <button class="modal-film__btn-close"></button>
    <div class="modal-film__wrap">
        <div class="modal-film__picture-wrap">
            <img src="" alt="film-picture" class="modal-film__picture">
            <button class="modal-film__btn-play btn-trailer"></button>
        </div>
        <div class="modal-film__label-wrap">
            <h2 class="modal-film__name">Name of the film</h2>
            <div class="modal-film__label">
                <ul class="modal-film__left-column">
                    <li class="modal-film__left-item">Vote / Votes</li>
                    <li class="modal-film__left-item">Popularity</li>
                    <li class="modal-film__left-item">Original Title</li>
                    <li class="modal-film__left-item">Genre</li>
                </ul>
                <ul class="modal-film__right-column">
                    <li class="modal-film__right-item"></li>
                    <li class="modal-film__right-item"></li>
                    <li class="modal-film__right-item"></li>
                    <li class="modal-film__right-item"></li>
                </ul>
            </div>
            <h4 class="modal-film__about-title">ABOUT</h4>
            <p class="modal-film__about"></p>
        </div>
    </div>
</div>-->
