<div>
    <div id="modal-team" class="modal-team">
    <!-- Модальное содержание -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 class="team-title">TEAM "MRIIA"</h2>
            <ul class="team-table-list">
                <!-- 1 Сергій Місюк -->
                <li class="team-table-item">
                    <div>
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            <img class="team-photo"
                                src="/src/images/test-img-card.jpg"
                                alt="Сергій Місюк"
                                width="200"
                                height="200"
                            />
                        </a>
                        <h3 class="">Сергій Місюк</h3>
                        <p lang="en">Team Lead</p>
                    </div>    
                </li>
                <!-- 2 Олена Середа -->
                <li class="team-table-item">
                    <div>
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            <img class="team-photo"
                                src="/src/images/test-img-card.jpg"
                                alt="Олена Середа"
                                width="200"
                                height="200"
                            />
                        </a>
                        <h3>Олена Середа</h3>
                        <p lang="en">Scrum Master</p>
                    </div>
                </li>
                <!-- 3 Віталій Воляник -->
                <li class="team-table-item">
                    <div>
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            <img class="team-photo"
                                src="/src/images/test-img-card.jpg"
                                alt="Віталій Воляник"
                                width="200"
                                height="200"
                            />
                        </a>
                        <h3>Віталій Воляник</h3>
                        <p lang="en">Developer</p>
                    </div>
                </li>
                <!-- 4 Олексій Смагрович -->
                <li class="team-table-item">
                    <div>
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            <img class="team-photo"
                                src="/src/images/test-img-card.jpg"
                                alt="Олексій Смагрович"
                                width="200"
                                height="200"
                            />
                        </a>
                        <h3>Олексій Смагрович</h3>
                        <p lang="en">Developer</p>
                    </div>
                </li>

                <!-- 5 Олена Бурдужа -->
                <li class="team-table-item">
                    <div>
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            <img class="team-photo"
                                src="/src/images/test-img-card.jpg"
                                alt="Олена Бурдужа"
                                width="200"
                                height="200"
                            />
                        </a>
                        <h3>Олена Бурдужа</h3>
                        <p lang="en">Developer</p>
                    </div>
                </li>

                <!-- 6 Денис Бурдужа -->
                <li class="team-table-item">
                    <div>
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            <img class="team-photo"
                                src="/src/images/test-img-card.jpg"
                                alt="Денис Бурдужа"
                                width="200"
                                height="200"
                            />
                        </a>
                        <h3>Денис Бурдужа</h3>
                        <p lang="en">Developer</p>
                    </div>
                </li>

                <!-- 7 Ілля Павленко -->
                <li class="team-table-item">
                    <div>
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            <img class="team-photo"
                                src="/src/images/test-img-card.jpg"
                                alt="Ілля Павленко"
                                width="200"
                                height="200"
                            />
                        </a>
                        <h3>Ілля Павленко</h3>
                        <p lang="en">Developer</p>
                    </div>
                </li>

                <!-- 8 Денис Томай -->
                <li class="team-table-item">
                    <div>
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            <img class="team-photo" 
                                src="/src/images/test-img-card.jpg"
                                alt="Денис Томай"
                                width="200"
                                height="200"
                            />
                        </a>
                        <h3>Денис Томай</h3>
                        <p lang="en">Developer</p>
                    </div>
                </li>

                <!-- 9 Павло Наливайко -->
                <li class="team-table-item">
                    <div>
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            <img class="team-photo"
                                src="/src/images/test-img-card.jpg"
                                alt="Павло Наливайко"
                                width="200"
                                height="200"
                            />
                        </a>
                        <h3>Павло Наливайко</h3>
                        <p lang="en">Developer</p>
                    </div>
                </li>

                <!-- 10 Андрій Тлустенко -->
                <li class="team-table-item">
                    <div>
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            <img class="team-photo"
                                src="/src/images/test-img-card.jpg"
                                alt="Андрій Тлустенко"
                                width="200"
                                height="200"
                            />
                        </a>
                        <h3>Андрій Тлустенко</h3>
                        <p lang="en">Developer</p>
                    </div>
                </li>

                <!-- 11 Сергій Філатов -->
                <li class="team-table-item">
                    <div>
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            <img class="team-photo"
                                src="/src/images/test-img-card.jpg"
                                alt="Сергій Філатов"
                                width="200"
                                height="200"
                            />
                        </a>
                        <h3>Сергій Філатов</h3>
                        <p lang="en">Developer</p>
                    </div>
                </li>
            </ul>
            <hr>
        </div>
        
    </div>
    
</div>

    
