<div class="wrapper">
  <section class="slider-container">    
    <h2 hidden>Trending movies</h2>

    <button
      class="btn-prev button-prev" aria-label="button move prev">
    <span> &#5130; </span>
    </button>

    <div class="slider">
      <div class="slider__tracks" data-glide-el="track">
        <ul class="slider__track js-slider-container"></ul>
      </div>
    </div>

    <button
      class="btn-next button-next" aria-label="button move next"> 
      <span> &#5125; </span>
    </button>

  </section>
</div>
