

<div class="wrapper">
    <section class="slider-container">

      <h2 class="slider-title">Trending movies</h2>

      <div class="slider">
        <div class="slider__tracks" data-glide-el="track">
          <ul class="slider__track js-slider-container">
          </ul>
        </div>
        <div class="slider__buttons" data-glide-el="controls">
          <button class="slider__button btn-prev slide__arrow--left" data-glide-dir="<">
            prev
          </button>
          <button class="slider__button btn-next slide__arrow--right" data-glide-dir=">">
            next
          </button>
        </div>
      </div>
    </section>
  </div>