<div class="wrapper">
  <section class="slider-container">
    <button
      class="slider__button btn-prev slide__arrow--left slider__buttons"
      data-glide-dir="<"
      data-text="prevCat"
    >
      prev
    </button>

    <div class="slider">
      <div class="slider__tracks" data-glide-el="track">
        <ul class="slider__track js-slider-container"></ul>
      </div>
    </div>

    <button
      class="slider__button btn-next slide__arrow--right slider__buttons"
      data-glide-dir=">"
      data-text="nextCat"
    >
      next
    </button>
  </section>
</div>
