<!-- чекбокс зміни мови -->
<div>
  <input id="lang" type="checkbox" class="translate" value="eng" />
  <label for="lang" class="translate_label eng" data-text="chengeLang"></label>
  <label for="lang" class="ua" data-text="chengeLang"></label>
</div>
<!-- приклад верстки для зміни -->
<h1 data-text="hello"></h1>
<h2 data-text="buttonWatched"></h2>
<h3 data-text="buttonQueue"></h3>

<div class="color--select">
  <input type="checkbox" id="darkmode-toggle" class="color--input" />
  <label for="darkmode-toggle" class="color--label">
    <svg class="sun">
      <use href="/src/images/icons/icons.svg#icon-sun"></use>
    </svg>

    <svg class="moon">
      <use href="/src/images/icons/icons.svg#icon-moon"></use>
    </svg>
  </label>

  <div class="background"></div>
</div>
