.film-card {
    padding: 20px 0;

    &__item:hover, 
    &__item:focus{
        transform: scale(1.02);
    }

    &__box-img {
        height: 398px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (min-width:768px) {
            height: 455px;
        }

        @media screen and (min-width:1280px) {
            height: 574px;
        }
    }

    &__img {
        min-width: 100%;
        min-height: 100%;
        flex-shrink: 0;
        cursor: pointer;
    }

    &__box-info {
        font-weight: medium;
        margin: 8px 0;

        @media screen and (max-width:1280px) {
            font-size: 12px;
        }
        @media screen and (min-width:1280px) {
            margin: 12px 0;
        }
    }

    &__title {
        color: var(--mainBlackColor);
        text-transform: uppercase;
    }

    &__text {
        color: var(--cardText);
        line-height: 1.4;
    }

    &__rating {
        display: inline-block;
        background-color: var(--cardText);
        border-radius: 5px;
        color: white;
        font-size: 12px;
        padding: 1px 8px;
        margin-left: 8px;

        @media screen and (min-width:1280px) {
            padding: 3px 8px;
        }
    }
}