.filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

    @media screen and(min-width: 768px) {
        gap: 20px;
    }
}

.filters__item {
    background-color:$filterColor;
    color:$mainWhiteColor;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;

    &:hover,
    &:focus{
        box-shadow: rgba(255, 0, 0, 0.25) 0px 54px 55px, rgba(255, 0, 0, 0.12) 0px -12px 30px, rgba(255, 0, 0, 0.12) 0px 4px 6px, rgba(255, 0, 0, 0.17) 0px 12px 13px, rgba(255, 0, 0, 0.09) 15px -15px 15px;
    }
}