.modal-offer{
    position: relative;   
    margin: 0 auto;   
}

.input-offer {
    &__list {
        position: absolute;
        top: -75;
        left: 50%;
        transform: translateX(-50%);    
        background-color: rgb(85, 46, 46);
    }    

    &__item {
        display: flex;
        
        font-weight: 400;
        font-size: 12px;
        line-height: 1.14;
        letter-spacing: 1.7;
        color: $mainWhiteColor;

        @media screen and (min-width: 768px) {
            text-transform: uppercase;
            font-size: 14px;
        } 


        padding: 5px;
        border: 1px solid $mainWhiteColor;

        &__item.film-card__img{
           height: auto;
        }

        //&__item.film-card__box-img{
           height: 150px;
       // }
    }
}

.input-offer__desc {
    padding: 5px;

    & p:not(:last-child) {
        margin-bottom: 3px;
    }

    & .film-card__title{
        color: $mainWhiteColor;
    }

    #release_date {
        color: $mainBlackColor;
        font-weight: 700;
    }
}
