



.wrapper {
    background-color: rgba(206, 206, 206, 0.596);
    // gap: 5px;
}

.slider-container {
    display: flex;
    align-items: center;
}

.slider {
        overflow: hidden; 
        @media screen and (max-width: 768px) {
            &{    
            display: none;
        }
        }
        @media screen and (min-width: 768px) {
            &{
                margin: 0 auto;
                width: 768px;
                font-size: 12px;
                padding: 10px 0px 10px 0px;
            }
        }
        @media screen and (min-width: 1280px) {
            &{
                margin: 0 auto;
                width: 1280px;
                font-size: 12px;
                padding: 10px 0px 0px 0px;
            }
    };
     
};


.slider__track {
    
    display: flex;
    transition:.5s;
}


.slider-film__img {
    border-radius: 5px;
    width: 180px;
    height: 240px;
    cursor: pointer;
}

.slider-film__title {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-left:10px ;
    padding-right:10px ;
    width: 140px;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 rgba(224, 14, 14, 0.3);
}


.slider__buttons {

    display: none;

    @media screen and (min-width: 768px) {
        &{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 40px;
            height: 80px;
            background-color: rgb(41, 36, 36);
            color: brown;
            
        }
    }
   
}

.btn-prev {
    border-radius:  50 0 0 50 ;
}

.btn-next {
    border-radius: 0 50 50 0;
}